$breakpoint-desktop-xl: 1840px;
$breakpoint-desktop-lg: 1600px;
$breakpoint-desktop: 1540px;
$breakpoint-laptop: 1399px;
$breakpoint-tablet: 1199px;
$breakpoint-tablet-sm: 991px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-sm: 575px;
$breakpoint-mobile-xs: 420px;
