// Color system
$white: #ffffff;
$black: #000000;
$PrimaryGradint: linear-gradient(90.1deg, #aa2f88 -53.03%, #dd4057 -3.09%, #cc2e6e 52.96%, #f07745 102.9%, #c738ca 150.81%);
$primary : #CC2E6E;
$secondary: #333333;
$grey: #666666;
$lightGrey : #999999;
$lightCream : #FAFAFA;
$DarkBlue : #1D3499;
$BgGrey : #F5F5F5;
$GreyBorder : #D7D7D7;