@import '@/app/scss/variables';
@import '@/app/scss/partial';


.formRow{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px 20px;
    .formCols{
        position: relative;
    }
    .formColsFull{
        grid-column: 1/3;
        @media(max-width:$breakpoint-mobile-xs) {
            grid-column: 1/2;
        }
    }
    @media(max-width:$breakpoint-mobile-xs) {
        grid-template-columns:repeat(1,1fr);
    }
    .formSubmit{
        margin-top: 15px;
        @media (max-width:$breakpoint-mobile) {
            margin-top: 0;
        }
    }
}
.successMessage , .ErrorMessage{
    position: fixed;
    top: 100px;
    right: -100%;
    padding: 20px;
    z-index: 11;
    transition: 0.4s ease-in-out;
    &.showMessage{
        right: 100px;
    }
}

.successMessage{
    background-color: #d1e7dd;
    color: rgb(10, 54, 34);
}
.ErrorMessage{
    background-color: #ffd3d3;
    color: rgb(223 19 19);
}

.submittedForm{
    ~ .successMessage , ~ .ErrorMessage{
        right: 50px;
    }
}