@import '@/app/scss/variables';
@import '@/app/scss/partial';

input:not([type="submit"]),
textarea {
  font-family: var(--font-geologica);
  font-weight:400;
  font-size:14px;
  line-height:1.25;
  width: 100%;
  color:rgba($black,1);
  border: 1px solid #E8E8E8;
  background:#F5FAFF;
  padding: 18px 18px;
  border-radius:5px;
  resize: none;
  &::placeholder {
    color:rgba($black,0.4);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=file]{
  cursor: pointer;
}