@import '@/app/scss/variables';
@import '@/app/scss/partial';

.CongratulationModal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: calc(100% - 100px);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    @media (max-width: $breakpoint-mobile) {
        padding: 20px;
    }
    &.show {
        display: flex;
    }
    .CongratulationModalWrapper {
        border-radius: 10px;
        background: $white;
        width: 620px;
        max-width: 100%;
        padding: 60px 80px;
        max-height: calc(100vh - 60px);
        overflow: hidden;
        position: relative;
        @media(max-width:$breakpoint-laptop) {
            width: 580px;
            padding: 50px 60px;
        }
        @media(max-width:$breakpoint-tablet) {
            width: 540px;
            padding: 40px;
        }
        @media(max-width:$breakpoint-mobile) {
            padding: 25px;
            width: 480px;
        }
        @media(max-width:$breakpoint-mobile-sm) {
            width: 100%;
            padding: 25px 20px;
        }
        &::before , &::after{
            content: '';
            position: absolute;
            width: 275px;
            height: 275px;
            background: rgba(197, 167, 240, 0.5);
            opacity: 0.7;
            filter: blur(180.9px);
            @media(max-width:$breakpoint-tablet) {
                display: none;
            }
        }
        &::before{
            left: -80px;
            bottom: -80px;
        }
        &::after{
            top: -120px;
            right: -120px;
        }
        .CongratulationContent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            .iconBox{
                width: 112px;
                height: 112px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $PrimaryGradint;
                border-radius: 50%;
                margin-bottom: 40px;
                @media(max-width:$breakpoint-laptop) {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 30px;
                }
                @media(max-width:$breakpoint-tablet) {
                    margin-bottom: 20px;
                    width: 75px;
                    height: 75px;
                }
                @media(max-width:$breakpoint-mobile-sm) {
                    width: 60px;
                    height: 60px;
                }
                i{
                    color: $white;
                    font-size: 35px;
                    @media(max-width:$breakpoint-laptop) {
                        font-size: 28px;
                    }
                    @media(max-width:$breakpoint-tablet) {
                        font-size: 22px;
                    }
                    @media(max-width:$breakpoint-mobile-sm) {
                        font-size: 18px;
                    }
                }
            }
            h3{
                font-size: 34px;
                line-height: 40px;
                color: $black;
                margin-bottom: 12px;
                text-align: center;
                @media(max-width:$breakpoint-laptop) {
                    font-size: 30px;
                    line-height: 36px;
                }
                @media(max-width:$breakpoint-tablet) {
                    font-size: 28px;
                    line-height: 34px;
                }
                @media(max-width:$breakpoint-mobile) {
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 10px;
                }
            }
            p{
                font-size: 18px;
                text-align: center;
                @media(max-width:$breakpoint-mobile) {
                    font-size: 16px;
                }
            }
            .modalBtn{
                padding: 15px 26px;
                border-radius: 5px;
                font-size: 16px;
                line-height: 20px;
                min-width: 145px;
                text-align: center;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                color: $black;
                font-weight: 500;
                transition: 0.3s ease-in-out;
                margin-top: 30px;
                @media(max-width:$breakpoint-laptop) {
                    min-width: 130px;
                    padding: 14px 20px;
                }
                @media(max-width:$breakpoint-mobile) {
                    min-width: 120px;
                    padding: 12px 20px;
                    font-size: 15px;
                    line-height: 18px;
                    margin-top: 20px;
                }
                &:hover{
                    background: $black;
                    color: $white;
                }
            }
        }
    }
}