@import '@/app/scss/variables';
@import '@/app/scss/partial';

.blogSection{
    .blogRows{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:40px;
      margin-top:80px;
      @media (max-width: $breakpoint-desktop-lg) {
        gap:30px;
        margin-top: 60px;
      }
      @media (max-width: $breakpoint-tablet) {
        gap:20px;
        margin-top: 50px;
      }
      @media (max-width: $breakpoint-tablet-sm) {
        grid-template-columns:repeat(2,1fr);
      }
      @media (max-width: $breakpoint-mobile) {
        margin-top: 30px;
        gap:15px;
      }
      @media(max-width:$breakpoint-mobile-sm) {
        grid-template-columns:repeat(1,1fr);
      }
    }
    .centerButtonwrap{
      text-align: center;
      margin-top: 48px;
      @media (max-width: $breakpoint-tablet) {
        margin-top: 30px;
      }
    }
  }
  